@*@model IEnumerable<FamilyAccounting.DAL.Entities.AuditAction>*@

@{
    ViewData["Title"] = "Audit persons";
    var pagedList = (IPagedList)ViewBag.OnePageOfAuditPersons;
}
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;

<h1>Audit persons</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<div>
    <table class="table">
        <thead>
            <tr class="header">
                <th>
                    Id
                </th>
                <th>
                    First name
                </th>
                <th>
                    Last name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Is active
                </th>
                <th>
                    Operation type
                </th>
                <th>
                    Operation time
                </th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @{ var rowStyle = ""; }
            @foreach (var item in ViewBag.OnePageOfAuditPersons)
            {
                @switch (item.Type)
                {
                    case "Insert":
                        rowStyle = "insert";
                        break;
                    case "Update":
                        rowStyle = "update";
                        break;
                    case "Delete":
                        rowStyle = "delete";
                        break;
                }
            <tr class=@rowStyle>
                <td>
                    @item.Person.Id
                </td>
                <td>
                    @item.Person.FirstName
                </td>
                <td>
                    @item.Person.LastName
                </td>
                <td>
                    @item.Person.Email
                </td>
                <td>
                    @item.Person.Phone
                </td>
                <td>
                    @item.Person.IsActive
                </td>
                <td>
                    @item.Type
                </td>
                <td>
                    @item.Time
                </td>
                @*            <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
            </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfAuditPersons, page => Url.Action("IndexPersons", new { page }), new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })
</div>

<style type="text/css">
    .insert {
        background-color: #e0ffbd;
    }

    .update {
        background-color: #fff8bd;
    }

    .delete {
        background-color: #ffc0b8;
    }

    .header {
        background-color: cornflowerblue;
        color: white;
    }
</style>
